/* member.jsp */
body {
	font-family: Inter;
}

h1 {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: Inter;
	font-weight: Regular;
	font-size: 40px;
	opacity: 1;
}

hr {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 52px;
}

a {
	color: black;
}

#hypertext {
	text-decoration-line: none;
	cursor: hand;
}

.InfoTable {
	border-collapse: collapse;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 60px 16px 70px;
		word-break: keep-all;
}

.InfoTable th {
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.InfoTable td {
	text-align: center;
	font-size: 15px;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.tdIndex {
	width: 10%;
	text-align: center;
}

.tdId {
	width: 25%;
	text-align: center;
}

.tdName {
	width: 25%;
	text-align: center;
}

.tdEmail {
	width: 40%;
	text-align: center;
}

.pageA {
	text-decoration: none;
}

.search {
	width: fit-content;
	margin: auto;
}

.pageList {
	padding-top: 20px;
	width: fit-content;
	margin: auto;
}


.searchBtn{
	cursor: pointer;
	width: 40px;
	height: 25px ! important;
	font-size: 12px !important;
	font-weight: 700;
}