/* userMain.jps */
@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css")
	;

* {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

body {
	font-family: 'Pretendard';
	word-wrap: break-word;
	word-break: break-word;
}

.mypage {
	width: 100%;
	max-width: 960px;
	min-width: 960px;
	height: auto;
	overflow: hidden;
	margin: auto;
}

h3 {
	text-align: left;
	margin: 88px;
	font-family: pretendard;
}

.row {
	margin-bottom: 20px;
}

.title {
	display: block;
	margin-bottom: 10px !important;
}

#pw-check {
	margin-bottom: 5px;
}

.mainTitle {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: Inter;
	font-weight: Regular;
	font-size: 40px;
	opacity: 1;
	text-align: center !important;
}

.logout-btn {
	text-align: right;
}

/* ID box */
.field {
	font-size: 14px;
	line-height: 23px;
	width: 100%;
	border: 1px solid #BFBFBF;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

/* 2열 배열 */
.container {
	max-width: 900px;
	min-width: 900px;
}

.left-container {
	float: left;
	margin-right: 41px;
}

.right-container {
	float: right;
	margin-left: 41px;
}

.container div {
	width: 400px;
	height: auto;
}

.head-title div {
	width: 883px;
	height: auto;
}

.heade-title-container {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.row input[type=text] {
	font-size: 14px;
	line-height: 23px;
	width: 100%;
	height: 45px;
	border: 1px solid #ddd;
	padding: 10px 15px;
}

.button {
	display: inline-block; 
	padding : 5px;
	margin: auto;
	cursor: pointer;
	border-radius: 50px;
	width: 30%;
	max-width: 240px;
	min-width: 160px;
	height: 40px ! important;
	min-height: 40px;
	margin-top: 30px;
	font-size: 14px !important;
	font-weight: 700;
	padding: 5px;
}

#btn_modify {
	color: #FFFFFF !important;
	background-color: #313131 !important;
	border-color: #313131 !important;
	border-width: 1px;
	transition-duration: 0.4s;
	margin-top: 30px;
}

#btn_delete {
	color: #313131 !important;
	background-color: #FFFFFF !important;
	border-color: #313131 !important;
	border-width: 1px;
	transition-duration: 0.4s;
	margin-top: 30px;
}

#btn_modify:hover {
	opacity: 0.7;
}

#btn_delete:hover {
	color: #FFFFFF !important;
	background-color: #313131 !important;
}

#btn_list {
	margin-right: 10px;
	width: 30%;
	height: 40px;
	background-color: #313131 !important;
	color: white;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	margin-top: 20px;
	margin-bottom: 50px;
}