/* productreg */
.editTitle {
	text-align: center;
	margin: 30px 5px;
}

#WriteForm {
	width: 100%;
	max-width: 450px;
}

h3 {
	text-align: left;
	margin: 30px 5px;
}

.title {
	display: block;
	margin-bottom: 12px;
	line-height: 17px;
	letter-spacing: -0.1em;
}

.p_id, .p_name, .p_price, .p_amount, .p_manufacturer, .p_category {
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	width: 100%;
	border: 1px solid #BFBFBF;
	padding: 10px 15px;
	box-sizing: border-box;
}

.p_description {
	text-align: lefe;
	font-size: 14px;
	height: 200px;
	width: 100%;
	border: 1px solid #BFBFBF;
	padding: 10px 15px;
	box-sizing: border-box;
	resize: none;
}

input:focus {
	outline: none;
}

.row {
	margin: 0px 5px;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
}

.button {
	padding: 5px;
	margin: auto;
	cursor: pointer;
	border-radius: 50px;
	width: 30%;
	max-width: 240px;
	min-width: 160px;
	height: 40px ! important;
	min-height: 40px; 
	margin-top : 30px;
	font-size: 14px !important;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 50px
}

#btn_registry {
	color: #FFFFFF !important;
	background-color: #313131 !important;
	border-color: #313131 !important;
	border-width: 1px;
	transition-duration: 0.4s;
}

#btn_cancel {
	color: #313131 !important;
	background-color: #FFFFFF !important;
	border-color: #313131 !important;
	border-width: 1px;
	transition-duration: 0.4s;
}

#btn_registry:hover {
	opacity: 0.7;
}

#btn_cancel:hover {
	color: #FFFFFF !important;
	background-color: #313131 !important;
}

.mustIn {
	color: red;
	display: inline-block;
}