body {
	font-family: Inter;
}

h1 {
	margin-left: 513px;
	position: relative;
	font-family: Inter;
	font-weight: Regular;
	font-size: 40px;
	opacity: 1;
}

hr {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 52px;
}

.title {
	display: block;
	margin-bottom: 12px;
	line-height: 17px;
	letter-spacing: -0.1em;
}


.InfoTable{
	border-collapse: collapse;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 60px 16px 70px
}

.InfoTable th {
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.InfoTable td {
	text-align: center;
	font-size: 15px;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}


.search{
	margin-left: 800px;
	position: relative;
	
}

.bottom_menu{
	text-align: center;
	margin-top: 50px;
}

.bottm_menu>a {
	border-radius: 50px !important;
}

.bottom_menu>a:link, .bottom_menu>a:visited {
	background-color: black;
	color: white;
	padding: 15px 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
}

.bottom_menu>a:hover, .bottom_menu>a:active {
	text-decoration: none;
}