@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

.mySlides {
	display:none;
	height: 657px;
}

.w3-content slideContent{
	width: 1887px !important;
	height: 657px;
	margin: auto;
}

.products {
	width: 960px;
	height: auto;
}

.section {
	width: 280px;
	margin: auto;
	margin-left:40px !important;
	float: left;
}

.section img {
	width: 280px;
	height: 385px;
}

.section img:hover {
	filter: opacity(0.8);
}

.section a {
	text-decoration-line: none;
	color: inherit;
}

.section a:hover {
	cursor: pointer;
}

#productName {
	margin-top: 1.2em;
	color: #555555;
    font-family: Pretendard;
    font-weight: 600;
    letter-spacing: -0.05em;
    white-space:nowrap;
}

#productPrice {
	color: #747474;
	font-size: 12px;
    font-family: Pretendard;
    font-weight: 700t;
    letter-spacing: 0em;
}