@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}


body {
  width: 100%;
  min-width: 964px;
  font-family: 'Pretendard';
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
}

table {
    display: inline-block;
}


.mainTitle {
    font-size: 25px;
    font-style: Bold;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 32px;
    margin-right: 0;
    margin-bottom: 88px;
  }

.mypage {
    position:relative;
    padding: 60px 16px 70px;
    min-height: 100%;
    max-width: 80%;
    max-height: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }

.title {
    display: block;
    margin-bottom: 10px !important;
  }

.heade-title-container {
    float: left;
    width: 100%;
    margin-bottom: 40px;
  }

.tdId {
	width: 10%;
}

.btn {
    margin: 0 auto !important;
    float: left !important;
}



.countInput {
     width: 15px;
    border: none;
    
}

.cart-table-container {
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 60px auto 70px;
}

.checkabox-container {
    font-size: 0px !important;
	width: 10% !important;
	border-bottom: 1px solid #a8a8a8;
}


th {
	color: black;
	font-size: 15px;
	padding: 15px;
    text-align: center;
	border-bottom: 1px solid #a8a8a8;
}

td {
	font-size: 15px;
	padding: 15px;
    text-align: center;
	border-bottom: 1px solid  #a8a8a8;
}

td .price, .total {
    text-align: center;
}

.title-container{
    border-collapse: collapse;
	width: 100%;
    padding: 10px 16px 70px;
}

.title{
    font-size: 18px;
    font-style: Bold;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 88px;
    margin-top: 20px;
    text-align: right
}

.title-price{
    text-align: right;
    max-width: 10%;
    margin-bottom: 25px;
}

button{
	background-color: white;
}

.check-remove-btn, .all-remove-btn,.submit-btn{
    color: #FFFFFF;
    background-color: #b1b1b1;
    border-style: none;
    border-radius : 50px;
    transition-duration: 0.4s;
    padding: 1% 2%;
	font-size : 12px;
}

.submit-btn .shipping-conf-btn{
    background-color: #313131;
    padding: 1% 2%;
    font-size : 18px;
}